
body {
  font-family: 'Roboto Slab', serif;
}

.input-group {
  width: 30%;
  border-radius: 20px;
  margin: 0 auto;
}

.welcome {
  filter: brightness(0.4);
  width: 100%;
}

.login-box {
      width: 96%;border: 1px solid #ccc;
  padding-bottom: 1em;
  margin-bottom: 1em;
  padding: 30px;
  display: inline-block;
}

.login-area {
    width: 30%;
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
}

.login-area.side.login-box.col-xs-12 {
    width: 30%;
    position: absolute;
    height: 89%;
  }

.team-image .login-field {
  display: inline-block;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

figcaption.label.label-primary.welcome-message {
    position: absolute;
    color: white;
    font-size: 30px;
    background-color: transparent;
    display: inline-block;
    top: 40%;
    left: 14%;
}

.faq-button{
  padding: 10px 20px;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 40%;
}

.botao {
  position: relative;
}

button.faq-button.register-button {
    top: 70%;
    left: 30%;
}

button.btn.btn-default.faq-button.entry-button {
    border-radius: 20px;
    left: 30%;
  }

  input#inputEmail3, input#inputPassword3 {
      border-radius: 20px;
  }

@media (max-width: 375px)  {

.login-area {
  width: 90%;
  position: relative;
}

form.form-horizontal.login-area.side.login-box {
    width: 30%;
    position: relative;
}

}
