
body {
  font-family: 'Roboto Slab', serif;
}

/* Overriding Bootstrap */
.btn, .form-control {
    border-radius: 20px;
}



.main-header {
  text-transform: lowercase;
  border-bottom: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 30px;
}

.main-header__logo {
  margin: 0;
}

.main-header__logo a {
  color: #333;
}

.main-header__input {
  display: inline-block;
  width: 70%;
}

.main-header__icon {
  width: 30px;
}

.main-header__logout {
  color: #333;
  margin-left: 10px;
}
