
.profile__row {
  margin-bottom: 20px;
}

.profile-picture {
  min-height: 100px;
}

.profile-picture__image {
  width: 100%;
  position: relative;
}

.profile-picture__button {
  position: absolute;
  bottom: 0;
  border-radius: 0;
  width: 100%;
  color: white;
  background-color: hsl(120, 100%, 0%, 0.5);
  width: calc(100% - 30px);
}

.profile-input {
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
}

.profile-input__field {
  border: 0;
  border-bottom: solid 1px #ccc;
  border-radius: 0;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: none;
}

.profile-description {
  margin-bottom: 20px;
}

.profile-description__text {
  border-radius: 0 !important;
}

.profile-tag-area {
  min-height: 100px;
}

/*  SM (a partir de) */
@media (min-width: 768px) {

  .profile-input__field {
    max-width: 30%;
    margin-right: 10px;
  }

}
